<h1>Rails frontend for EtherCIS</h1>

This is the Rails front end for EtherCIS, openEHR registry.

<ol>
  <li><%= link_to 'Template registration', templates_path %></li>
  <li><%= link_to 'Personal management', people_path %></li>
  <li><%= link_to 'AQL', aql_index_path %>
</ol>

